!!! 5
html
  head
    meta(charset="utf8")
    title #{title}
    link(rel="stylesheet", href="/style.css")
  body
    .container
      h1 Welcome to VodkaKit
      p If you are seeing this page, you have most likely successfully installed the VodkaKit boilerplate for Node and Express!
      p Take a look in <em>readme.md</em> to get a basic understanding of how the project is structured.
    script(src="/script.js")