@import url(http://fonts.googleapis.com/css?family=Lato:300,700);
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  list-style: none;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, dialog {
  display: block; }

a {
  text-decoration: none; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  margin: 80px auto 40px;
  max-width: 700px;
  font: 300 20px/28px Lato, sans-serif;
  padding: 120px 60px 40px 208px;
  background: url("/images/vodkakit.png") no-repeat 20px 0;
  background-size: 162px 400px;
  min-height: 400px;
  color: #333333; }
  .container h1 {
    text-transform: uppercase;
    font-weight: 700; }
  .container p {
    margin-top: 0.5em; }
  .container em {
    font-style: normal;
    background: #fff8b8;
    padding: 4px; }
